<html>

  <head>
    <title>PiMaps Remote</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?libraries=places"></script>
  </head>

  <body>
    <h2>PiMaps</h2>
    <p>Add your route:</p>
    <form method='POST', action='/directions'>
      <input
        name="places",
        type="text",
        value= <%= places %>,
        placeholder="Places (separated by a comma)",
        style="width:100%; font-size:16px"/>
      <br><br>
      <input type='submit', value='Show'/>
    </form>
    <script type="text/javascript", src="bundle.js"></script>
  </body>

</html>
